<div class="container d-fluid my--tasks">
    <h1 class="my--tasks--title">My tasks</h1>
    <ul>
        <% @tasks.each do |task| %>
            <%#= true == task.completed ? "[x]" : "[ ]"%>
            <div class="my--task">
                <input type="checkbox" class="form-check-input" id="check--task">
                <%= link_to task.title, task_path(task), class:"task--title" %>
                <%= link_to 'Delete', task_path(task), class:"my--task--delete",
                    method: :delete,
                    data:  {confirm: "Are you sur ?"} %>
                <%end%>
            </div>
    </ul>
    <%= link_to "Add a task", tasks_new_path, class:"btn btn-primary add--task--btn"%>
</div>
