.my--tasks--title {
    font-weight: bold;
    margin-bottom: 10%;
}

.my--task {
    margin-top: 29px;

    .my--task--delete {
        margin-left: 22%;
    }
}

.add--task--btn {
    margin-top: 50%;
}
